@import url(~normalize.css/normalize.css);
/* Basic - Primary */
/* Basic - Secondary */
/* Additionally */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local("Varela Round Regular"), local("VarelaRound-Regular"), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
html {
  font-size: 62.5%;
  min-height: 100vh;
  position: relative; }

body {
  font-family: "Varela Round", Arial, sans-serif;
  user-select: none;
  font-size: 1.7rem;
  background-color: #f3f3f3; }

.wrapper {
  max-width: 1250px;
  padding: 0 40px;
  margin: 0 auto; }

.flex-wrap-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
.flex-wrap-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.mat-card-actions .mat-raised-button {
  padding: 6px 18px; }

.button {
  display: inline-block;
  padding: 1.25rem 4.8rem;
  width: 24rem;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 1.7rem;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s; }
  .button--success {
    border: 2px solid #f39c12;
    color: white;
    margin: 1.25rem;
    background-color: transparent; }
    .button--success:hover {
      color: black;
      background: #f7ba5b; }
    .button--success:active {
      background: #b06f09; }
  .button--primary {
    margin: 1.25rem;
    border: 2px solid #8f47b0;
    color: white;
    background: #8f47b0; }
    .button--primary:hover {
      background: #b07ac9; }
    .button--primary:focus, .button--primary:active {
      background: #633179; }
  .button--group {
    margin: 0 10px; }
  .button--rounded {
    outline: none;
    border-radius: 50%; }
  .button--disabled {
    opacity: 0.6; }
    .button--disabled:hover {
      cursor: initial;
      pointer-events: none; }

footer {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }
  footer .footer {
    display: table;
    height: 60px;
    table-layout: fixed;
    width: 100%;
    background-image: linear-gradient(to bottom right, #e26f93, #fa9b46); }
    footer .footer__container {
      max-width: 1024px;
      padding: 2.5rem;
      margin: auto;
      font-size: 1.25rem; }
    footer .footer__text {
      text-align: center;
      color: #fafafa; }

.not-found {
  height: 100vh;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
  background-color: #27272B; }
  .not-found__message {
    position: absolute;
    width: 500px;
    height: fit-content;
    max-height: 500px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white; }
    .not-found__message h1 {
      font-family: "Helvetica";
      font-size: 4.8rem;
      color: white; }
    .not-found__message a {
      color: white; }

/*# sourceMappingURL=not-found-page.component.css.map */
