@import "../../../shared/styles/_index.scss";

//@mixin flexbox($display, $direction, $just-cont, $align-items:null, $grow:null)

.login {
  //@include flexbox(flex, column, center, center);
  width: 100%;
  //width: 100vw;
  height: 100vh;
  color: $aсcent-color;
  flex: 1 1 auto;
  background-image: linear-gradient(to bottom right, #e26f93, #fa9b46);
  //-webkit-background-size: 300%;
  //background-size: 300%;
  &-header {

  }
  &-welcome__wrap {
    //@include flexbox(flex, column, center, center);
    //width: 45%;
    @include size(460px, fit-content, 700px, 500px);
    padding: 10px;
    color: white;
    word-break: break-word;
    p {
      max-height: $xxl-size * 2;
      overflow: hidden;
    }
  }
  &-form {
    min-height: 420px;
    //max-width: 460px;
    //width: 460px;
    @include size(460px, fit-content, 700px, 500px);
    background-color: #27272B;
    @include flexbox(flex, column, center, center);
    //flex: 0 0;
    box-shadow: $box-shadow;
  }

  &-field__group {
    @include flexbox(flex, column, center, center);
    padding: 10px;
    margin: 30px auto;
  }
}
