//fonts
$primary-font: 'Varela Round';
//$secondary-font: 'Varela Round';
//colors
$primary-text: #28313d;
$secondary-text: #2c3643;
$primary-text-light: #fafafa;
$aсcent-color: #757575;
$aсcent-color-light: #f3f3f3;
$chat-background-dark: #202020;
$primary-background-dark: $primary-text;
$primary-background-light: $primary-text-light;
$box-shadow:-2px -2px 2px rgba(0,0,0,.1), 2px 2px 2px rgba(0,0,0,.1);
$message-box-shadow: -0 -3px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$primary-color: #8f47b0;
$secondary-color: #27272B;
$white-color: white;
$black-color: black;
$info-color: #b9dfff;
$success-color: #f39c12;
$warning-color: #edf512;
$danger-color: #fd0d4d;
// Latter-spacing
$letter-spacing: 0.0625em;
// Spacing
$s-size: 1.25rem;
$m-size: 1.7rem;
$l-size: 2.5rem;
$xl-size: 3.5rem;
$xxl-size: 4.8rem;
