<section class="course">
  <form class="course-form" [formGroup]="courseForm" (ngSubmit)="addCourse(courseForm.value)">
    <mat-dialog-content>
      <mat-card-header class="course-header">
        <mat-card-title>Course Form</mat-card-title>
      </mat-card-header>
      <div class="course-field__group">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Course title"
            [formControl]="courseForm.get('title')"
          >
          <mat-error *ngIf="courseForm.get('title').hasError('required')">Enter a valid title</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Course description"
            [formControl]="courseForm.get('description')"
          >
          <mat-error *ngIf="courseForm.get('description').hasError('required')">Enter a valid description</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Course videoDetail"
            [formControl]="courseForm.get('videoDetail')"
          >
          <mat-error *ngIf="courseForm.get('videoDetail').hasError('required')">Enter a valid videoDetail</mat-error>
        </mat-form-field>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="warn" type="reset">Cancel</button>
        <button mat-raised-button type="submit">Save</button>
      </mat-card-actions>
    </mat-dialog-content>
  </form>
</section>
