@import "../../../shared/styles/_index.scss";
.breadcrumb {
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #e26f93, #fa9b46);
   @include flexbox(flex, column, center, center);
  &__wrap {
    //height: $header-height;
  }
  &__panel {
    @include flexbox(flex, row, space-between, center);
    align-items: baseline;
  }
  &__form {
    display: flex;
    align-items: baseline;
  }
  mat-chip{
    background-image: linear-gradient(to bottom right, #e26f93, #fa9b46);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
